@font-face {
  font-family: 'amogusus'; /* A unique name for your font */
  src: url('../Montseratt.woff2') format('woff2');

  font-weight: normal;
  font-style: normal;
  font-display: swap; /* Controls how the font loads to prevent invisible text */
}

.mont {
  font-family: 'amogusus', sans-serif; /* Use your defined font name, with a fallback */
  /* Add other styles as needed, e.g., font-size, color, etc. */
  font-size: 24px;
  color: #333;

}